<div id="background">
    <div style="padding-top:20px" class="container">
        <div style="text-align: center;" class="row">
            <div class="col-12">
                <!-- <img src="/Imagens/LOGO_MENOR-01.png" alt="Logo da AmaZ" id="Logo"> -->
            </div>
            <div class="col-12" id="caixa1">
                <img src="assets/CONTATO-01.png" alt="Título da página: Contato" id="titcontato">
            </div>



            <div class="container" id="formulario">


                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite o nome" [(ngModel)]="nome"
                        (keyup)="validarNome()" maxlength="15" required>
                    <span *ngIf='_msgErroN'>{{_msgErroN}}</span>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com.br"
                        [(ngModel)]="email" (keyup)="validarEmail()" maxlength="25" required>
                    <span *ngIf='_msgErroE'>{{_msgErroE}}</span>
                </div>
                <div class="form-group">
                    <label for="Telefone">Telefone:</label>
                    <input type="text" class="form-control" id="tel" placeholder="(XX) 99999-9999" [(ngModel)]="tel"
                        (keyup)="validarTel()" maxlength="11" required>
                    <span *ngIf='_msgErroT'>{{_msgErroT}}</span>
                </div>
                <div class="form-group">
                    <label for="msg">Mensagem:</label>
                    <textarea class="form-control" [(ngModel)]="msg" (keyup)="validarMsg()" id="msg" rows="5"
                        maxlength="400" required></textarea>
                    <span *ngIf='_msgErroM'>{{_msgErroM}}</span>
                </div>
                <button class="btn btn-primary butao" (click)="enviar()">Enviar</button>
            </div>
        </div>

    </div>
</div>