.navbar-collapse{
    background-color: rgb(189, 196, 170)!important;
}

.navbar-light {
    background-color: rgb(189, 196, 170)!important;
}

.nav-link {
    color: rgba(72, 97, 77, 1);
    font-weight: 550;
}
.navbar-right {
margin-left: 60%;
display: inline;
}