.container-lg {
    height: 75ch;
}
#titulo {
    text-align: center;
    width: 40%;
    margin-top: -15px;
}

#logo {
    text-align: center;
    width: 10px;
    height: 10px;
}

.imagem {
    position: relative;
    -webkit-box-shadow: 2px 3px 8px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 2px 3px 8px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 2px 3px 8px 0px rgba(50, 50, 50, 0.55);
    margin-top: 5%;

}
    
.capa {
    display: none;
    background: rgba(255, 255, 255, 0.701);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: left;
    margin: auto;
    border-width: medium;
    border-style: solid;
    border-color: rgb(143, 143, 143);
}

.imagem:hover .capa {
    display: block;
}

.legenda {
    height: 80%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    font-size: 15px;
    font-stretch: normal;
}
.recuo {
    margin-top: 20px;
    text-indent:2em;
    font-size: 16px;
}